version: '3'
services: 
  frontend:
    restart: always
    build: ./frontend
    ports:
      - '3000:80'
    volumes:
      - /app/node_modules
      - ./frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
  api:
    restart: always
    build: ./api
    ports:
      - '5050:5050'